<h2 class="text-center">To-Do Application</h2>
<form [formGroup]="form">
  <div>
    <label for="">Note Type</label>
    <select formControlName="type">
      <option value="">-- Select --</option>
      <option value="1">Note Only</option>
      <option value="2">Note With Date</option>
      <option value="3">Note With Date & Attachment</option>
    </select>
  </div>
  <div>
    <label for="">Note</label>
    <textarea formControlName="note"></textarea>
  </div>
  <div *ngIf="form.controls['type'].value == '2' || form.controls['type'].value == '3'">
    <label for="">Date</label>
    <input formControlName="date" type="date">
  </div>
  <div *ngIf="form.controls['type'].value == '3'">
    <label for="">Attachment</label>
    <input formControlName="file" type="file" style="width: auto;">
  </div>
  <div>
    <button type="reset" class="cancel">Cancel</button>
    <button (click)="onSave()" type="submit" [disabled]="form.invalid">{{isEdit ? 'Update' : 'Save'}}</button>
  </div>
</form>

<div class="list" *ngIf="data.length>0">
  <div *ngFor="let item of data" class="card">
    <h3>{{item.note}}</h3>
    <p *ngIf="item.date" style="margin-bottom: 10px;">Due Date: {{item.date | date}}</p>
    <div>
      <button type="button" (click)="editItem(item)">Edit</button>
      <button type="button" class="delete" (click)="deleteItem(item.id)">Delete</button>
    </div>
  </div>
</div>